* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    animation: animation 0.25s 1;
}

@keyframes animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

body{
    font-family: Arial, sans-serif;
    text-align: center;
}
.header{
    background-color: rgb(30, 30, 30);
    background: #303030;
    padding: 10px 0;
}
header{
    color: white;
    text-align: center;
}
.javascript{
    background-color: white;
    text-align: center;
}

ul {
    list-style-type: square;
}

#about{
    text-align: center;
}

.footer{
    background-color: rgb(30, 30, 30);
    padding: 10px 0;
}

footer{
    color: white;
    text-align: center;
}

#javascript-h1{
    text-align: center;
}

#bulb{
    width: 100px;
}

button {
    background-color: #303030;
    color: white;

    width: 90px;
    height: 50px;

    border: 2px solid #303030;
    border-radius: 40px;

    transition: 0.25s;
}

button:hover {
    background-color: transparent;
    color: black;

    border: solid black;

    transition: 0.25s;
}

button:active {
    background-color: black;
    color: white;

    border: solid white;
    
    transition: 0.25s;
}

#img {
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.555);
}

.img {
    border-radius: 70px;
}

#Enter {
    width: 100%;
    padding: 20px 10px;
    border-radius: 17px;
    background-color: rgb(41, 98, 255);
    border: 1px solid rgb(41, 98, 255);
    color: aliceblue;
    box-shadow: 0 0 25px gray;
    transition: 0.25s;
    cursor: pointer;
}

#Enter:hover {
    background-color: transparent;
    color: rgb(41, 98, 255);

    transition: 0.25s;
}

#Enter:active {
    background-color: rgb(41, 98, 255);
    color: aliceblue;

    transition: 0.25s;
}

input #Enter {
    font-size: 18px;
}

input {
    width: 100%;
    padding: 20px 10px;
    border: none;
    border-radius: 17px;
    outline: none;
    text-align: center;
    background-color: rgb(240, 240, 240);
}

.button {
    background-color: white;
    color: black;

    border: 2px solid black;
    border-radius: 40px;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.637);

    transition: 0.25s;
}

.button:hover {
    background-color: transparent;
    color: white;

    border: solid white;

    transition: 0.25s;
}

.button:active {
    background-color: white;
    color: black;

    border: solid black;

    transition: 0.25s;
}

#h1 {
    animation: h1-animation 0.25s 1;
}

@keyframes h1-animation {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    
    to {
        transform: translateY(20px);
        opacity: 100;
    }
}