body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(30, 30, 30);
    background: #303030;
    padding: 10px 0;
}
header{
    color: white;
    text-align: center;
    }
.javascript{
    background-color: white;
    text-align: center;
} 
#about{
    text-align: center;
}

.footer{
    background-color: rgb(30, 30, 30);
    padding: 10px 0;
}

footer{
    color: white;
    text-align: center;
}

#javascript-h1{
    text-align: center;
}

#bulb{
    width: 100px;
}